<a href="https://colab.research.google.com/github/fatimaa909/DIWALI-DATA-PROJECT/blob/main/python_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#assigning a variable

x = 5
y = 6
print(x)
print(y)

5
6

In [2]:
#changing the variable after they have been set
x = 5
x = "Hayat"
print(x)

Hayat

In [3]:
# Casting

x = str(1)
y = int(5)
z = float(9)
print(x,y,z)

1 5 9.0

In [6]:
# type() Function
x = 1
y = "Hayat"
z = 5.9
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [9]:
#Variables are Case Sensitive
a =  1
A = 'abc'
print(a)
print(A)

# A will not overwrite a

1
abc

In [10]:
# Legal variable names

myvar = 1
my_var = 2
MYVAR = 3
_myvar = 4
MyVar = 6
myvar2 = 7

# illegal variable name
2myvar = 1
my-var = 6
my var = 7

In [12]:
# Many values to multiple variables

x , y , z = 'one','two','three'
#print(x,y,z)
print(x)
print(y)
print(z)

one
two
three

In [13]:
# One value to multiple variables
a = b = c = 'Hayat'
print(a , b , c)

Hayat Hayat Hayat

In [14]:
# Unpack A Collection
fruits = ['Apple','banana','orange']
x , y , z = fruits
print(x)
print(y)
print(z)

Apple
banana
orange

In [17]:
# Creating a Global Variable

x = 'Hayat'

def myfunc():
  print("I Love You " + x)

myfunc()

I Love You Hayat

In [18]:
# practice

x = 'Awesome'

def myfunc():
  print("Hayat is " + x)

myfunc()

Hayat is Awesome

In [20]:
# Creating  a variable inside a function, with the same name as the global variable

x = 'Hayat'

def myfunc():
  x = 'Fatima'
  print("My name is " + x)

myfunc()

print("My name is " + x)

#If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

My name is Fatima
My name is Hayat

In [28]:
# create a global variable inside a function, you can use the global keyword.

def myfunc():
  global y
  y = 'You'


myfunc()

print("my name is " + y)

my name is You

In [30]:
#change the value of a global variable inside a function, refer to the variable by using the global keyword

x = "YOU"

def myfunc():
  global x
  x = "Hayat"

myfunc()
print("hey " + x)

hey Hayat

In [ ]:
#Data Types : Built in DATA TYPES

In [1]:
# 1 : Text type - 'string'
x = "HAYAT"
print(type(x))

<class 'str'>

In [3]:
# 2 Numeric type : int , float , complex
x = 12
y = 2.3
z = 12j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [4]:
# Sequence Type : list , tuple , range

x = ["aa","bb","cc"]
y = ("as","bv","df")
z = range(7)
print(type(x))
print(type(y))
print(type(z))

<class 'list'>
<class 'tuple'>
<class 'range'>

In [5]:
#Mapping : Dictionary (dict)
x = {"name":"hayat", "Age":24}
print(type(x))

<class 'dict'>

In [7]:
#Set : set , frozenset
x = {"a","b","c"}
print(type(x))

y = frozenset({"aa","bb","cc"})
print(type(y))

<class 'set'>
<class 'frozenset'>

In [8]:
#boolean : bool (true/false)
x = False
print(type(x))

<class 'bool'>